body {
  background-color: dodgerblue;
}

header {
  color: crimson;
  width: 100%;
  height: 75px;
  background: rgb(230, 230, 233);
  text-align: center;
}
  
.placecard{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 6px;

}

.newpops{
border: solid thin red ;
background-color: grey;
}

#update-donation{
  padding: 10px ;
  
  border-radius: 2px;
 
  width: 60%;
  margin: 3px auto;
  transform: translateY(-1200px)
  
}

.headerPic{
  height: 64vh;
  width: 25%;
  padding: 10px;
  margin-bottom: 5px;
  border: solid grey;
  border-radius: 2px;
}

.donation-card{
min-width: 60px;
margin: 5px;
}

.charity-title {
  font-size: 20px;
  text-align: center;
}

.donation-card{
  width:350px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 60%;
height: 80%
}

.charity-header {
  text-align: center;
}

.container card-body {
  display: flex;
  flex-flow: row;
} 

.box {
  padding:30 px;
  text-align: center;
  font-size: 35px;
  color: white;

}

{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  display: block;
  margin: 20px auto;
  background: crimson;
  color: white;
  border: 0;
  padding: 6px 10px;
}

.popup-wrapper{
  background: rgba(0,0,0,0.3);
  position:fixed;
  top:0;
  left:0;
  width: 150%;
  height: 150%;
  display: none;
}

.popup{

  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin:10% auto;
  padding: 20px;
  background: white;
  position: relative;
}

.popup a{
  background:crimson;
  color: white;
  text-decoration: none;
  padding:10px 12px
}

.popup-close{
  position: absolute;
  top: 10px;
  right: 18px;
  cursor: pointer;
}
